body {
  margin: 0;
  font-family: sans-serif;
  }

.enterInner {
  display: flex; /*直下の要素が並列になる*/
  flex-direction:column; /*上から下に配置配置*/
  justify-content: center; /*水平方向の真ん中にそろえる*/
  align-items: center; /*垂直方向の真ん中にそろえる*/
  min-height: 100vh; /*画面いっぱいの高さにする*/
}

.enter {
  color: #819FF7;
  text-decoration: none;
  margin-top: 10px;
  font-size: 18px;
}
.enter:hover /*カーソルを重ねると色が変わる*/{
  color: #EA96A0
}

.header {
  background-color: #819FF7;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMenu {
  text-align: center;
}

.menu ul {
  color: #F0F8FF;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* justify-content: space-around; */
}
.menu a {
  color: #fff;
  text-decoration: none;
}

.linkInner {
  text-align: center;
}

footer {
  width: 100%;
  background: #F2F1FA;
  color: #819FF7;
}

.footerInner {
  text-align: center;
  padding: 20px 0;
}